<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Title -->
  <title>
    {{- if not .IsHome }}
    {{- if eq .Kind "page" }}{{ .Title }}
    {{- else if eq .Data.Singular "tag" }}{{ .Data.Term }}
    {{- else }}Posts
    {{- end }} - {{ end }}
    {{- .Site.Title -}}
  </title>
  <!-- Meta -->
  {{- if eq .Kind "page" }}
  <meta name="description" content="{{ .Summary }}">
  <meta name="author" content="{{ .Params.author | default .Site.Params.author }}">
  {{ else }}
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta name="author" content="{{ .Site.Params.author }}">
  {{ end -}}
  <!-- Styles -->
  <link href="{{.Site.BaseURL}}css/font.css" rel="stylesheet">
  <link href="{{.Site.BaseURL}}css/atom-one-dark.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i" rel="stylesheet">
  <link href="{{.Site.BaseURL}}css/style.css" rel="stylesheet">
  <!-- <link href="{{.Site.BaseURL}}css/prism.css" rel="stylesheet"> -->
  <!-- Favicons -->
  <link rel="apple-touch-icon" href="{{.Site.BaseURL}}img/apple-touch-icon.png">
  <link rel="icon" href="{{.Site.BaseURL}}img/favicon.ico">
  <link rel="manifest" href="/manifest.json">
  <!-- Generator -->
  {{ .Hugo.Generator }}
  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" href="{{.Site.BaseURL}}index.xml" title="{{ .Site.Title }}">
  {{ if eq (getenv "HUGO_ENV") "production" | or (eq .Site.Params.env "production")  }}
    {{ template "_internal/google_analytics_async.html" . }}
  {{ end }}
</head>
<body class="{{if eq .Kind `page` }}single{{else}}list{{ if .IsHome }} home{{ end }}{{end}}">
  <header class="header">
    {{ if .IsHome }}
    <h1 class="title"><a href="{{.Site.BaseURL}}">{{ .Site.Title }}</a></h1>
    {{ else }}
    <p class="title"><a href="{{.Site.BaseURL}}">{{ .Site.Title }}</a></p>
    {{ end }}
    <button class="menu-toggle" type="button"></button>
    <nav class="menu">
      <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li class="{{ if $currentPage.IsMenuCurrent `main` . }}active{{ end }}">
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </nav>
  </header>
  <main class="main">
